{% extends "base.html" %}

{% block css %}
<link rel='stylesheet' type='text/css' href='/static/css/strategy.css'>
{% end %}

{% block scripts %}
<script type='text/javascript' src='/static/js/libs/jquery.flot.js'></script>
<script type='text/javascript' src='/static/js/libs/jquery.flot.time.js'></script>
<script type='text/javascript' src='/static/js/libs/jquery.flot.resize.js'></script>
<script type="text/javascript" src="/static/js/jquery.flot.watermark.js"></script>
<script type='text/javascript' src='/static/js/exchange_colours.js'></script>

<script type='text/javascript'>
  var start_timestamp = {% raw json_encode(args['start_timestamp']) %};
  var end_timestamp = {% raw json_encode(args['end_timestamp']) %};
  var trade_data = {% raw json_encode(args['trade_data']) %};
  var fundamental_values_data = {% raw json_encode([]) %};
  var revenue_series = {% raw json_encode(args['revenue_series']) %};
  var position_series = {% raw json_encode(args['position_series']) %};

  var BASE_POINT_RADIUS = {% raw json_encode(args['base_point_radius']) %};
  var position_graph_min = {% raw json_encode(args['position_graph_min']) %};
  var position_graph_max = {% raw json_encode(args['position_graph_max']) %};
</script>

<script type='text/javascript' src='/static/js/point.js'></script>
<script type='text/javascript' src='/static/js/strategy.js'></script>
{% end %}

{% block title %}
  <title>
    {{ "%+.2f %s" % (args['revenue'].amount, args['display_name']) }} - Trading
  </title>
{% end %}

{% block content %}
<div class='row justify-content-center' id='title-row'>
  <div class='col-10'>
    <h3>Active Strategy</h3>
    <h1>{{ args['display_name'] }}</h1>
    <div class='row'>
    {% module StartEnd(args['start_end_widget']['start_time'], args['start_end_widget']['end_time']) %}
    </div>
  </div>
</div>
<div class='row justify-content-center' id="report">
  <div class='col-10'>
    <div class='row justify-content-left'>
      <div class='col-2'>
        <h4>Vol</h4>
        <h5>{{ '%s %.2f' % (args['volume'].currency, args['volume'].amount) }}</h5>
      </div>
      <div class='col-2'>
        <h4>P&L</h4>
        <h5>{{ "${:,.2f}".format(args['revenue'].amount) }}</h5>
      </div>
      <div class='col-2'>
        <h4>Fees</h4>
        <h5>{{ "${:,.2f}".format(args['matched_fees'].amount) }}</h5>
      </div>
      <div class='col-3'>
        {% if args['end_timestamp'] < args['now_timestamp'] %}
          <h4>Flux</h4>
        {% else %}
          <h4>Current</h4>
        {% end %}
        <h5>{{ '%s %.2f' % (args['open_position'].currency, args['open_position'].amount) }}</h5>
      </div>
    </div>
  </div>
</div>
<div class='row justify-content-center' id='main-content'>
  <div class='col-10'>
    <div class='row justify-content-center' id='graph-row'>
      <div class='col d-flex flex-column'>
        <div class='flex-grow-1' id='gryphon-graph'></div>
      </div>
    </div>
    <div class='row justify-content-center' id='revenue-graph-row'>
      <div class='col d-flex flex-column'>
        <div class='flex-grow-1' id='revenue-graph'></div>
      </div>
    </div>
  </div>
</div>

{% end %}
